#xrandr --newmode "1920x1080_75" 174.5 1920 1968 2000 2080 1080 1083 1087 1119 +HSync -VSync
#xrandr --addmode HDMI-A-0 1920x1080_75
#xrandr --output HDMI-A-0 --mode 1920x1080_75 --rate 74.97
#xsetwacom --set 8 area 0 0 15200 8550
#xsetwacom --set 9 RawSample 1
#xsetwacom --set 8 RawSample 1
#xsetwacom --set 9 Suppress 0
#xsetwacom --set 8 Suppress 0

#xrandr --output DisplayPort-2 --gamma 1.0:0.98:1.0 --brightness 0.90

#xinput --map-to-output 8 DisplayPort-2

xrdb ~/.Xresources
wal -i ~/Pictures/Nature_4.jpg
